body {
  background: url("../assets/images/kai-pilger-Ef6iL87-vOA-unsplash.jpg") repeat fixed center;
  background-size: auto 100%;
}

nav a {
  color: #e5e5e5;
}

h1 {
  color: #9390ff;
  font: normal normal 700 4rem "Robot", sans-serif;
}

h2 {
  font: normal normal 500 2rem "Robot", sans-serif;
}

span {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 69px;
  top: 237px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(50px);
}

p {
  font: normal normal 400 1rem/1.5rem "Robot", sans-serif;
}

th {
  font: normal normal 700 0.9rem "Robot", sans-serif;
  color: #9390ff;
  border-top: 1px solid #e5e5e5 !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

td {
  font: normal normal 400 0.8rem "Robot", sans-serif;
  color: #e5e5e5;
  padding-bottom: 0.8rem !important;
}

tbody {
  border-bottom: 1px solid #e5e5e5 !important;
}

footer i {
  color: #e5e5e5;
}