@import "./styles.scss";

body {
  background: url("../assets/images/kai-pilger-Ef6iL87-vOA-unsplash.jpg") repeat fixed center;
  background-size: auto 100%;
}

nav a {
  color: $secundary;
}

h1 {
  color: $primary;
  font: normal normal 700 4rem 'Robot', sans-serif;
}

h2 {
  font: normal normal 500 2rem 'Robot', sans-serif;
}

p {
  font: normal normal 400 1rem/1.5rem 'Robot', sans-serif;
}

th {
  font: normal normal 700 0.9rem 'Robot', sans-serif;
  color: $primary;
  border-top: 1px solid $secundary !important;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

td {
  font: normal normal 400 0.8rem 'Robot', sans-serif;
  color: $secundary;
  text-align: center;
  padding-bottom: 0.8rem !important;
}

tbody {
  border-bottom: 1px solid $secundary !important;
}

footer i {
  color: $secundary;
}

.circle-1 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 69px;
  top: 237px;
  background: #edecff;
  border-radius: 50%;
  filter: blur(50px);
  animation: year-appear 5s ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes year-appear {
  0% {
    filter: blur(40px);
  }

  50% {
    filter: blur(52px);
  }

  100% {
    filter: blur(40px);
  }
}
