$primary: #9390ff;
$secundary: #e5e5e5;
$font: 'Cairo', sans-serif;

body {
  background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.9), rgba(25, 25, 25, 0.8)), url('../images/kai-pilger-Ef6iL87-vOA-unsplash.jpg');
  //repeat fixed center;
  background-size: auto 100%;
  width: 100%;
  min-height: calc(100vh - [header-height]px - [footer-height]px);
}

h3 {
  color: $primary;
  text-align: center;
  font: normal normal 700 1.5rem $font;

  @media (min-width: 1024px) {
    font-size: 2rem;
  }
}

a {
  color: $secundary;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

p,
li {
  color: $secundary;
  font: normal normal 400 0.8rem/1.5rem $font;

  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

tr {
  padding: 0;
  margin: 0;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);//rgba(0, 140, 255, 0.1);
  border-radius: 2%;
}

.card-title {
  color: $primary;
}

.card-text {
  color: $secundary;
}

.button {
  a {
    &:hover {
      color: $secundary;
    }
  }

  --offset: 10px;
  --border-size: 2px;

  font: normal normal 500 0.7rem $font;
  display: block;
  position: relative;
  padding: 1em;
  appearance: none;
  border: 0;
  background: transparent;
  color: $secundary;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) $primary;
  //transition: background 0.8s ease;

  &:hover {
    background: $primary;//rgba(100, 100, 100, 1);
    color: $secundary;
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;

    &::before {
      content: '';
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);

    border-top: var(--border-size) solid $primary;
    border-bottom: var(--border-size) solid $primary;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);

    border-left: var(--border-size) solid $primary;
    border-right: var(--border-size) solid $primary;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }
}
